html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;

}
.clearfix {
    clear: both;
}
#header {
    width: 100%;
    height: 130px;
    background-image: url("../asp-shop/assets/img/logo1.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    float: left;
}

#footer {
    width: 100%;
    height: 50px;
    background: #aaaaaa94;
}

#footer p {
    text-align: center;
    width: 100%;
    color: #0d0d0d
}

.wrapper {
    width: 100%;
    background-color: #aaaaaa94;
}

.menu {
    width: 130px;
    height: 100%;
    float: left;
    margin-top: 20px;
}
.menu a{
    text-decoration: none;
    color:#ffffff;
    font-size: 25px;
}

#navigation{
    list-style-type: none;
}
.categ{
    width: 0%;
    background: rgb(135, 169, 231);
    border-radius: 0 15px 15px 0;
    transition: width 0.3s;
}

.categ:hover {
    width: 100%;
}

.categ a{
    color: rgba(0, 0, 0, 0.7);
    list-style-type: none;
    text-decoration: none;
}

.categ a:active {
    color: red;
}
.container {
    width: calc(100% - 130px);
    float: left;
}

.clearfix {
    clear: both;
}
.prod{
    position: relative
}

.popup{
    position: fixed;
    background-color:rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index:999;
    text-align: center

}
.poza {
    position: absolute;
    width: 310px;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    overflow: hidden;
}
.poza img{
    width: 310px;
    height: auto
}

.titlu{
    background-color:#fff;
    font-size:20px;
    padding: 15px

}

#products-list {
    margin: 0;
    padding: 0px;
    list-style: none;
}

#products-list li{
    width: 33%;
    margin: 0;
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

#cart-container {
    border-radius: 25px;
    display: none;
    margin: 15px auto 0 auto;
    width: 65%;
    height: 100%;
    min-height: 300px;
    padding: 10px;
    background: #f08686;
    box-shadow: 2px 2px 4px rgb(31, 31, 31);
}
#cart-container h1 {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 15px;
}

.product {
    float: left;
    width: 20%;
    border: 1px solid black;
}

.categ a{
    color: blue;
    margin-left: 10px;
}
.top-menu-placer {
    float: right;
    padding-right: 50px;
}
#header h1 {
    padding-left: 50px;
}
.product-images {
    width: 310px;
    height: 450px;
    display: block;
    margin: auto;
}
.h1 {
    display: block;
    clear: both;
}
.product-size {
    float: left;
    margin: 0 20px 0 10px;
}
.product-price {
    display: block;
    text-align: right;
    padding-right: 30px;
}
.product-title {
    margin: 10px 0 10px 10px;
}
.top-menu {
    list-style-type: none;
}
.top-menu a{
    text-decoration: none;
}

#top-menu a:hover{
    color: rgb(45, 117, 250);
}
#top-menu a:active{
    color: red;
}
#top-menu li{
    padding-right: 15px;
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
}

#cart-button {
    box-sizing: border-box;
    border: 2px solid;
    background-image: url(cart.png);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    box-shadow: -4px 4px 2px 2px;
    border-radius: 4px;
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    cursor: pointer;
}


/*
Urmatorul css va fi pentru plasare comanda
*/
#checkout {
    display: none;
    padding: 10px;
    border: 1px solid #fdfdfd;
    background: #98c1f794
}

#checkout {
    display: none;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    background: rgba(125, 247, 125, 0.8);
}

#to-checkout {
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
}

#place-order {
    width: 80px;
    height: 50px;
}


.cms {
    width: 100%;
    min-height: 400px;
    background: #f08686;
    display: none;
}

#cart-products {
    list-style-type: none;
}


.qty {
    width: 40px;
    height: 20px;
    text-align: center;
    padding-top:0;
    padding-bottom: 0

}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}