html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clearfix {
    clear: both;
}
#header {
    box-shadow: 0 5px 12px;
    width: 100%;
    height: 160px;
    background: #adadad;
}
#logo {
    float: left;
    height: 160px;
}

#footer {
    width: 100%;
    height: 50px;
    background: #adadad;
}

#footer p {
    box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
    width: 100%;
    color: #0d0d0d
}

.wrapper {
    margin: 0px;
    width: 100%;
    background-color: #aaaaaa94;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0%;
    clear: both;
}

.menu {
    width: 10%;
    height: 100%;
    float: left;
    margin-top: 20px;
    text-align: left;
}
.menu a{
    text-decoration: none;
    color:#ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
}

.categ{
    width: 0%;
    background: rgb(135, 169, 231);
    border-radius: 0 15px 15px 0;
    transition: width 0.3s;
}

.categ:hover {
    width: 100%;
}

.categ a{
    color: rgba(0, 0, 0, 0.7);
    list-style-type: none;
    text-decoration: none;
}

#navigation{
    list-style-type: none;
}
.categ{
    width: 0%;
    background: rgb(135, 169, 231);
    border-radius: 0 15px 15px 0;
    transition: width 0.3s;
}

.categ:hover {
    width: 100%;
}

.categ a{
    color: rgba(0, 0, 0, 0.7);
    list-style-type: none;
    text-decoration: none;
}

.categ a:active {
    color: red;
}
.container {
    width: 90%;
    float: right;
}

.clearfix {
    clear: both;
}
.prod{
    position: relative
}

.popup{
    position: fixed;
    background-color:rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index:999;
    text-align: center

}
.poza {
    position: absolute;
    width: 310px;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    overflow: hidden;
}
.poza img{
    width: 310px;
    height: auto
}

.titlu{
    background-color:#fff;
    font-size:20px;
    padding: 15px

}

#products-list {
    margin: 0;
    padding: 0px;
    text-align: center;
    list-style: none;
    clear: both;
}

#products-list li{
    position: relative;
    display: inline-block;
    width: 310px;
    height: 565px;
    background: rgb(255, 255, 255);
    margin: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    text-align: initial;
    transition: .3s ease;
}

#cart-container {
    border-radius: 25px;
    display: none;
    margin: 15px auto 0 auto;
    width: 65%;
    height: 100%;
    min-height: 300px;
    padding: 10px;
    background: #f08686;
    box-shadow: 2px 2px 4px rgb(31, 31, 31);
}

#cart-container h1 {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 15px;
}

.product {
    float: left;
    width: 20%;
    border: 1px solid black;
}


.top-menu-placer {
    margin: 66px 0px;
    float: right;
}
#header h1 {
    padding-left: 50px;
}

.h1 {
    display: block;
    clear: both;
}
.product-size {
    float: left;
    font-size: 14px;
}
.product-price {
    text-align: center;
    font-size: 14px;
}
.product-title {
    margin: 0%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.add-to-cart {
    background-color: rgb(135, 169, 231);
    width: 310px;
    height: 51px;
    border: none;
    cursor: pointer;
    /* transition-duration: 0.3s; */
}
.add-to-cart:hover {
    background-color: rgb(65, 65, 255);
    color: white;
}
.add-to-cart:active {
    transform: translateY(4px);
    }
.top-menu {
    list-style-type: none;
}
.top-menu a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

#top-menu a:hover{
    color: rgb(45, 117, 250);
}
#top-menu a:active{
    color: red;
}
#top-menu li{
    padding-right: 30px;
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
}

#cart-button {
    background-image: url(assets/img/Cart/EmptyCart.png);
    background-size: 125px 100px;
    background-repeat: no-repeat;
    float: right;
    width: 125px;
    height: 100px;
    margin: 25px 30px;
    cursor: pointer;
}


/*
Urmatorul css va fi pentru plasare comanda
*/
#checkout {
    display: none;
    padding: 10px;
    border: 1px solid #fdfdfd;
    background: #98c1f794
}

#checkout {
    display: none;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    background: rgba(125, 247, 125, 0.8);
}

#to-checkout {
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
}

#place-order {
    width: 80px;
    height: 50px;
}


.cms {
    width: 100%;
    min-height: 400px;
    background: #f08686;
    display: none;
}

#cart-products {
    list-style-type: none;
}


.qty {
    width: 40px;
    height: 20px;
    text-align: center;
    padding-top:0;
    padding-bottom: 0

}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}